{% load static %}



<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jobya - Responsive Job Board HTML Template</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Themesdesign" />
    
        
    
        <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/materialdesignicons.min.css' %}" />
    
        <link rel="stylesheet" type="text/css" href="{% static '/css/selectize.css' %}" />
    
        <link rel="stylesheet" type="text/css" href="{% static '/css/nice-select.css' %}" />
    
        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />

    </head>

    <body>
        <!-- Loader -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader -->
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="index.html" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
        </div>

        <!-- Hero Start -->
        <section class="vh-100" style="background: url('images/user.jpg') center center;">

            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6">
                                <div class="login-page bg-white shadow rounded p-4">
                                    <div class="text-center">
                                        <h4 class="mb-4">OTP verification Page</h4>  
                                    </div>
                                    <div class="text-center">
                                        <center>
                                            {% if msg %}
                                            <h4 style="color: red;">{{msg}}</h4>

                                            {% endif %}
                                        </center>  
                                    </div>
                                    <form class="login-form" action="{% url 'otp' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group position-relative">
                                                    <label>Your Email <span class="text-danger">*</span></label>
                                                    <input type="email" class="form-control" placeholder="Email" name="email" required="" value="{{email}}" readonly>
                                                </div>
                                            </div>


                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Your OTP <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" placeholder="Enter your OTP" name="otp" required="">
                                                </div>
                                            </div>
    
                                            

                                            
                                            <div class="col-lg-12 mb-0">
                                                <button class="btn btn-primary w-100">Verify Button</button>
                                            </div>
                                            
                                            
                                    </form>
                                </div><!---->
                            </div> <!--end col-->
                        </div><!--end row-->
                    </div> <!--end container-->
                </div>
            </div>
        </section><!--end section-->
        <!-- Hero End -->

        <!-- javascript -->
        <script src="{% static '/js/jquery.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static '/js/jquery.easing.min.js' %}"></script>
        <script src="{% static '/js/plugins.js' %}"></script>

        <!-- selectize js -->
        <script src="{% static '/js/selectize.min.js' %}"></script>

        <script src="{% static '/js/jquery.nice-select.min.js' %}"></script>

        <script src="{% static '/js/app.js' %}"></script>
    </body>
</html>